.dashboard {
    // height: 70vh;
    width: 100%;
    // padding: $primary20padding;

    .greeting {
        color: $primaryFontColor;
    }

    .tasksWrapper {
        display: flex;
        flex-flow: $rowWrap;
        align-items: center;
    }
}