.homeContent {
  background-color: #FEF9EF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.homeContent .headerText {
  color: #227C9D;
}
.homeContent .subText {
  color: #227C9D;
  font-size: 1rem;
  font-weight: 600;
}
.homeContent .link a {
  font-size: 1rem;
  text-decoration: none;
  color: #FE6D73;
  font-weight: 600;
}

.errors {
  width: 85%;
}
.errors .error {
  list-style: decimal;
  color: #f7030c;
  font-weight: 700;
}

.dashboard {
  width: 100%;
  padding: 20px;
}
.dashboard .greeting {
  color: #227C9D;
}
.dashboard .heading {
  margin: 10px 0;
  text-align: center;
  color: #227C9D;
}
.dashboard .tasksWrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #17C3B2;
  padding: 10px 20px;
  border-top: 4px solid red;
  min-height: 15vh;
}

.header {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid red;
  background-color: #17C3B2;
  padding: 10px 20px;
  min-height: 15vh;
}
.header .headerGreeting {
  margin: 5px 0;
  font-weight: 700;
  color: #FFCB77;
}
.header .CTA {
  font-size: 1.2rem;
  text-decoration: none;
  color: #1f1d1d;
  font-weight: 600;
}

.logo {
  height: 75px;
  width: 75px;
}

.button {
  margin: 10px 0;
  padding: 2px 5px;
  min-width: 65px;
  height: 30px;
  box-shadow: 0px 2px 15px 0px #1f1d1d;
  border-radius: 3px;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}
.button.submitButton {
  background-color: #17C3B2;
}
.button.viewButton {
  background-color: #227C9D;
}
.button.editButton {
  background-color: #FFCB77;
}
.button.createButton {
  background-color: #17C3B2;
}
.button.deleteButton {
  background-color: #f7030c;
}
.button.completeButton {
  background-color: #02f102;
}
.button.cancelButton {
  background-color: #FE6D73;
}
.button:hover {
  cursor: pointer;
}

.inputsWrapper {
  margin: 10px 0;
  width: 300px;
  display: flex;
  flex-direction: column;
}
.inputsWrapper .labelText {
  color: #227C9D;
  font-size: 1.2rem;
}
.inputsWrapper input {
  height: 30px;
  margin-top: 5px;
  padding: 5px;
  border: 2px solid #17C3B2;
  border-radius: 5px;
  font-size: 1rem;
}

.card {
  margin: 20px;
  width: 250px;
  height: 200px;
  background-color: #b1b1b1;
  padding: 10px;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card .cardTitle {
  text-align: center;
  margin: 0 0 5px 0;
  color: #227C9D;
}
.card .cardDetails {
  max-height: 100px;
  overflow: hidden;
  color: #fff;
  border-radius: 10px;
}
.card .cardAction {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body .bodyContent {
  min-height: 70vh;
  background-color: #FEF9EF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}
