//Create Task
.createTask {
    @include tasksBody;

    .createTaskForm {
        display: flex;
        flex-flow: $columnWrap;
        align-items: center;
    }
}

//View Task
.viewTask {
    @include tasksBody;

    .cardView {
        display: flex;
        justify-content: center;



        .viewCard {
            border-radius: $primary15;
            margin: $primary20padding;
            width: 80%;
        }

        .cardDetails {
            color: $primaryFontColor;
            padding: $primary10;
        }
    }
}