//Variables
@import './settings';

//Global Classes
@import './global.scss';

//Modules
@import './modules/home';
@import './modules/register';
@import './modules/dashboard/dashboard';

// Modules -> Tasks
@import './modules/dashboard/tasks/tasks.scss';

//Mixins
@import './mixins.scss';


//Partials
@import './shared/footer';
@import './shared/header';

//Components
@import './components.scss';


//Global styling for reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    // overflow: hidden;

    .bodyContent {
        min-height: $contentHeight;
        // max-height: 100vh;
        background-color: $beige;
        // display: flex;
        //         flex-direction: column;
        // align-items: center;
        // justify-content: center;
        padding: $primary20padding;
        overflow: scroll;
    }
}