//Variables
@import './settings';

//Global Classes
@import './global.scss';

//Modules
@import './modules/home';
@import './modules/register';
@import './modules/dashboard/dashboard';

//Mixins
@import './mixins.scss';

// Modules -> Tasks
@import './modules/dashboard/tasks/tasks.scss';

//Partials
@import './shared/footer';
@import './shared/header';

//Components
@import './components.scss';


//Global styling for reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    .bodyContent {
        min-height: $contentHeight;
        background-color: $beige;
        padding: $primary20padding 60px;
        overflow: scroll;
    }
}