.logo {
    height: 75px;
    width: 75px;
}

.button {
    width: 100px;
    height: 30px;
    box-shadow: 0px 2px 15px 0px $primaryDarkColour;
    border-radius: 3px;
    border: none;
    color: $whiteFontColor;
    font-size: 1rem;
    font-weight: $bold;

    &.submitButton {
        background-color: $primaryBackgroundColour;
    }

    &.viewButton {
        background-color: $primaryFontColor;
    }

    &.editButton {
        background-color: $yellowThemeColor;
    }

    &.createButton {
        background-color: $primaryBackgroundColour;
    }

    &.deleteButton {
        background-color: $dangerColour;
    }

    &.completeButton {
        background-color: $successColour;
    }

    &.cancelButton {
        background-color: $alertColour;
    }

    &:hover {
        cursor: pointer;
    }

}

.inputsWrapper {
    width: 300px;
    display: flex;
    flex-direction: column;

    .labelText {
        color: $primaryFontColor;
        font-size: $ctaFontSize;
    }

    input {
        @include inputField;
    }
}