@mixin inputField {
    height: 30px;
    margin-top: 5px;
    padding: 5px;
    border: $inputBorders;
    border-radius: $inputBordersRadius;
    font-size: $primaryFontSize;
}

@mixin textAreaField {
    margin-top: 5px;
    padding: 5px;
    border: $inputBorders;
    border-radius: $inputBordersRadius;
    font-size: $primaryFontSize;
}

@mixin ctaLinks {
    font-size: $ctaFontSize;
    text-decoration: none;
    color: $primaryDarkColour;
    font-weight: $lightlyBold;
}