@mixin inputField {
    height: 30px;
    margin-top: 5px;
    padding: 5px;
    border: $inputBorders;
    border-radius: $inputBordersRadius;
    font-size: $primaryFontSize;
    background-color: rgba(0, 0, 0, 0);
}

@mixin textAreaField {
    background-color: rgba(0, 0, 0, 0);
    margin-top: 5px;
    padding: 5px;
    border: $inputBorders;
    border-radius: $inputBordersRadius;
    font-size: $primaryFontSize;
}

@mixin ctaLinks {
    font-size: $ctaFontSize;
    text-decoration: none;
    color: $primaryDarkColour;
    font-weight: $lightlyBold;
}

@mixin tasksBody {
    min-height: 70vh;
    padding: $primary20padding;
    background-color: $beige;
}