.dashboard {
    // height: 70vh;
    width: 100%;
    padding: 20px;

    .greeting {
        color: $primaryFontColor;
    }

    .heading {
        margin: 10px 0;
        text-align: center;
        color: $primaryFontColor;
    }

    .tasksWrapper {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
}