.homeContent {
    background-color: $beige;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;

    .headerText {
        color: $primaryFontColor;
    }

    .subText {
        color: $primaryFontColor;
        font-size: $primaryFontSize;
        font-weight: $lightlyBold;
    }

    .link {
        a {
            font-size: $primaryFontSize;
            text-decoration: none;
            color: $alertColour;
            font-weight: $lightlyBold;
        }
    }
}

@media only screen and (max-width: 767px) {
    .homeContent {
        height: 60vh;
    }
}