.content {
    background-color: $beige;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .headerText {
        color: $primaryFontColor;
    }

    .subText {
        color: $primaryFontColor;
        font-size: $primaryFontSize;
        font-weight: $lightlyBold;
    }

    .link {
        a {
            font-size: $primaryFontSize;
            text-decoration: none;
            color: $alertColour;
            font-weight: $lightlyBold;
        }
    }
}