.header {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: $solidRedBorder;
    background-color: $primaryBackgroundColour;
    padding: $headerFooterPadding;
    min-height: $headerFooterHeight;

    .headerGreeting {
        margin: 5px 0;
        font-weight: $bold;
        color: $yellowThemeColor;
    }

    .CTA {
        @include ctaLinks;
    }
}